- title @manga.title
- open_graph_meta :title => @manga.title, :type => "book", :url => request.url, :site_name => "manga-dojo", :image => @manga.amazon_image_url, 'fb:app_id' => RestGraph.default_app_id

%p
  Author:
  = @manga.author

%p
  Created by:
  = @manga.user.try(:name)

%p
  = like_button_for_this_page

%p= link_to "Back to List", mangas_path