body {
  background-color: #4b7399;
  margin: 0;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#header {
  background: white;
  position: relative;
  height: 50px; }
  #header #header-center {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 10px; }
    #header #header-center img {
      height: 40px; }
  #header #header-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 20px; }

#container {
  width: 75%;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#footer {
  color: #cccccc;
  margin: 20px;
  text-align: center; }

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

#user_navi {
  background: white;
  border-bottom: 1px solid black;
  padding: 10px; }
  #user_navi .left {
    float: left; }
  #user_navi .right {
    float: right; }

.clear_both {
  clear: both; }

#mangas .manga {
  margin: 20px 10px;
  border-bottom: 2px solid silver; }
  #mangas .manga .image {
    float: left;
    margin: 10px 15px;
    width: 75px;
    height: 75px;
    text-align: center; }
  #mangas .manga .title {
    font-size: 16px;
    font-weight: bold; }
  #mangas .manga .author {
    font-weight: italic;
    margin: 10px; }
  #mangas .manga .created_by {
    color: #dddddd;
    margin: 10px; }
  #mangas .manga .actions {
    font-size: 10px;
    margin: 10px 10px 20px;
    padding: 5px; }

#amazon-items .amazon-item {
  float: left;
  position: relative;
  width: 30%;
  height: 130px;
  margin: 10px 1%;
  border: 1px solid silver; }
  #amazon-items .amazon-item div {
    margin: 10px; }
  #amazon-items .amazon-item .image {
    float: left;
    width: 75px;
    height: 75px;
    text-align: center; }
  #amazon-items .amazon-item .title {
    font-weight: bold; }
  #amazon-items .amazon-item .author {
    color: #333333; }
  #amazon-items .amazon-item .post {
    margin: 10px; }
